<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3 d-inline-flex">
      <div class="card border border-2" style="padding: 20px">
        <%= image_tag 'sample_user.png', class: 'h-100' %>
      </div>
    </div>
    <div class="col-sm-5 d-inline-flex">
      <div class="card">
        <div class="card-header">
          ユーザー名
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>ここにテキスト ここにテキスト ここにテキスト ここに</p>
            <p>ここにテキスト ここにテキスト ここにテキスト ここに</p>
            <p>ここにテキスト ここにテキスト ここにテキスト ここに</p>
            <p>ここにテキスト ここにテキスト ここにテキスト ここに</p>
            <p>ここにテキスト ここにテキスト ここにテキスト ここに</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-inline-flex">
      <div class="card">
        <%= image_tag 'sample_graph.png', class: %>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-8 d-inline-flex">
      <div class="card w-100">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-4 d-inline-flex">
      <div class="card border border-0 w-100">
        <%= link_to '今日の学習を記録する', '#', class: 'btn btn-primary' %>
        <%= link_to '教科を新しく登録する', '#', class: 'btn btn-primary mt-3' %>
        <%= link_to 'ログアウト', '#', class: 'btn btn-secondary mt-3' %>
      </div>
    </div>
  </div>
</div>
