<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<div class="row">
  <div class="col-sm-3 d-inline-flex">
    <div class="card border border-2" style="padding: 20px">
      <%= image_tag 'sample_user.png' %>
    </div>
  </div>
  <div class="col-sm-5 d-inline-flex card-group">
    <div class="card">
      <div class="card-header">
        <%= current_user.name %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <span>
            ここにテキスト ここにテキスト ここにテキスト ここにテキスト
          </span>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-sm-4 d-inline-flex">
    <div class="card border border-0 w-100">
      <%= line_chart(@data) %>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-sm-8 d-inline-flex">
    <div class="card border border-0 w-100">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">日付</th>
          <th scope="col">科目</th>
          <th scope="col">勉強時間(minutes)</th>
          <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        <% @study_records.each.with_index(1) do |study_record, index| %>
          <tr>
            <th scope="row"><%= index %></th>
            <td><%= study_record.study_date.strftime("%F") %></td>
            <td><%= study_record.subject.name%></td>
            <td><%= study_record.study_time %></td>
            <td>
              <%= button_to '削除', study_record,
                class: 'btn btn-sm btn-danger',
                method: :delete,
                form: {
                  data: {
                    turbo_confirm: "日付: #{study_record.study_date.strftime('%F')}\n教科名: #{study_record.subject.name}\n勉強時間: #{study_record.study_time} 分\nを本当に削除してよろしいですか?"
                  }
                }
              %>
          </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-4 d-inline-flex">
    <div class="card border border-0 w-100">
      <%= link_to '今日の学習を記録する', new_study_record_path, class: 'btn btn-primary' %>
      <%= link_to '教科を新しく登録する', new_subject_path, class: 'btn btn-primary mt-3' %>
      <%= link_to 'ログアウト', logout_path, data: { "turbo-method": :delete }, class: 'btn btn-secondary mt-4' %>
    </div>
  </div>
</div>
