<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to ApplicationHelper::APPLICATION_NAME, root_path, class: "navbar-brand" %>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to 'Home', tops_path, class: 'nav-link' %>
        </li>
<!--        <li class="nav-item"><a class="nav-link" href="#">Link</a></li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Subjects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to '科目一覧', subjects_path, class: 'dropdown-item' %></li>
            <li><%= link_to '科目を追加する', new_subject_path, class: 'dropdown-item' %></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Example</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'アカウント', current_user, class: 'nav-link' %>
        </li>
      </ul>
      <% end %>
    </div>
  </div>
</nav>
